src/main/mule/blackboardtosf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blackboard="http://www.mulesoft.org/schema/mule/blackboard" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:blackboard-rest-lms="http://www.mulesoft.org/schema/mule/blackboard-rest-lms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/blackboard-rest-lms http://www.mulesoft.org/schema/mule/blackboard-rest-lms/current/mule-blackboard-rest-lms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/blackboard http://www.mulesoft.org/schema/mule/blackboard/current/mule-blackboard.xsd">
	<flow name="blackboardToSalesforceCreateAndUpdateTermsFlow" doc:id="b58a9eea-c438-4167-98df-d8fd0a223a17" >
		<http:listener doc:name="Listener" doc:id="95c966a6-b906-4714-a79c-aaa0a01d441a" config-ref="blackboard-rest-api-httpListenerConfig" path="/backboard/terms/{termid}"/>
		<logger level="INFO" doc:name="BlackboardToSalesforceCreateAndUpdateTermsFlowStarted Logger" doc:id="383e892b-f7f1-4d53-8644-8601c62318e2" message="BlackboardToSalesforceCreateAndUpdateTermsFlowStarted Logger"/>
		<flow-ref doc:name="accesstoken_Flow" doc:id="c2bc7e80-dee1-43b6-8623-603447731502" name="accesstoken_Flow"/>
		<blackboard:get-v1-terms-term-id doc:name="Terms - Get Term" doc:id="1474973a-dd68-40bf-8c92-e20882430332" config-ref="Blackboard_Config" termIdUriParam="#[attributes.uriParams.termid]" correlationIdHeader="#[correlationId]"/>
		<logger level="INFO" doc:name="Blackboard Term Response Payload Logger" doc:id="7444cfac-4840-439f-a3aa-f41f8fdeaa8e" message="#[payload]"/>
		<ee:transform doc:name="SF Request Payload" doc:id="feb9e7cb-6808-4824-b0ee-30e16fb2832e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	Name: payload.name,
	Term_ID__c: payload.id,
	External_ID__c: payload.externalId,
	Data_Source_ID__c: payload.dataSourceId,
	Description__c: payload.description,
	Availability_Status__c: payload.availability.available,
	Duration_Type__c: payload.availability.duration."type" default "Continuous"
			
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SF Request Payload Logger" doc:id="1b6a4bf2-3ce2-4668-a8d4-7d14c7cf8aae" message="#[payload]"/>
		<salesforce:upsert doc:name="Upsert" doc:id="f59a4e4e-f352-4c8e-b92a-3dbd9acb1c83" config-ref="Salesforce_Config" objectType="Blackboard_Term__c" externalIdFieldName="Name"/>
		<ee:transform doc:name="SF Response Payload" doc:id="19963d17-c84f-4464-934e-ea2f3d2ea43c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SF Response Payload Logger" doc:id="af9d41dc-65a3-4685-8917-1e1037ae335f" message="#[payload]"/>
		<logger level="INFO" doc:name="BlackboardToSalesforceCreateAndUpdateTermsFlowEnded Logger" doc:id="fc1e162f-166a-4559-b7df-a6623f791c7a" message="BlackboardToSalesforceCreateAndUpdateTermsFlowEnded"/>
	</flow>
	<flow name="blackboardToSalesforceDeleteTermsFlow" doc:id="53eb874f-3ed3-4b23-999a-3c700a8cefd2" >
		<http:listener doc:name="Listener" doc:id="f73174e8-3529-45c8-b854-14a1c9ad0dc9" config-ref="blackboard-rest-api-httpListenerConfig" path="/delete/backboard/terms/{termid}"/>
		<logger level="INFO" doc:name="Blackboard to Salesforce Delete Flow Started Logger" doc:id="4fcd76bd-fb7d-4c47-b465-81c38713a21a" message="Blackboard to Salesforce Delete Flow Started"/>
		<flow-ref doc:name="accesstoken_Flow" doc:id="a5ebcf55-a527-4224-bb25-2013d8147ab0" name="accesstoken_Flow"/>
		<blackboard:get-v1-terms-term-id doc:name="Terms - Get Term" doc:id="25aad786-11cc-42d4-8b16-a2ad1cb0c861" config-ref="Blackboard_Config" termIdUriParam="#[attributes.uriParams.termid]" correlationIdHeader="#[correlationId]" />
		<logger level="INFO" doc:name="Blackboard Term Response Payload Logger" doc:id="038ad01f-3f94-496d-b760-7f78be6b3ac7" message="#[payload]" />
		<ee:transform doc:name="sfRequestPayload" doc:id="4a4dd3d9-eb05-466e-8ce0-068448ac0043">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	Name: payload.name
			
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SF Request Payload Logger" doc:id="edc487bf-bf76-4ba2-8808-f196a36df381" message="#[payload]" />
		<salesforce:query doc:name="Query" doc:id="60bd41eb-2e82-4ee4-9654-311ae6c1a8f3" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select id, Name from Blackboard_Term__c where Name = :Name]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	Name : "'" ++ payload.Name[0] ++ "'"
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="SF Query Reponse" doc:id="a1635e80-4c9e-4648-892c-65cc18e9884c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.Id]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="2d9ac6ab-abfc-4678-a57c-605513f6e111">
			<when expression="#[!isEmpty(payload)]">
				<salesforce:delete doc:name="Delete" doc:id="78beb5e2-0ff3-4ce0-ada5-2b2815ea74ee" config-ref="Salesforce_Config" />
				<ee:transform doc:name="SF Delete Response" doc:id="20f25e2a-e2f3-44b1-8388-6785ecf5f9df">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Empty id's Logger" doc:id="e8e06582-7a5c-4b18-adf3-4c9536a0ec6a" message="empty id's" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="SF Response Logger" doc:id="d0492b56-84fc-4c8c-a0fd-d2918c8a87d5" message="#[payload]" />
		<logger level="INFO" doc:name="Blackboard to Salesforce Delete Flow Ended Logger" doc:id="d177276b-ef6a-49da-819d-cbcea37d7366" message="Blackboard to Salesforce Delete Flow Ended" />
	</flow>
</mule>
