src/main/mule/sftoblackboard.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blackboard="http://www.mulesoft.org/schema/mule/blackboard" xmlns:blackboard-rest-lms="http://www.mulesoft.org/schema/mule/blackboard-rest-lms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/blackboard-rest-lms http://www.mulesoft.org/schema/mule/blackboard-rest-lms/current/mule-blackboard-rest-lms.xsd
http://www.mulesoft.org/schema/mule/blackboard http://www.mulesoft.org/schema/mule/blackboard/current/mule-blackboard.xsd">

	<flow name="salesforceToBlackboardCreateTermsFlow" doc:id="24798430-5f03-43c1-b316-c861ffddea72" >
		<salesforce:new-object-listener doc:name="On New Object" doc:id="2d85adcd-ce00-4091-9491-c584f847e746" config-ref="Salesforce_Config" objectType="Blackboard_Term__c">
			<scheduling-strategy >
				<fixed-frequency frequency="1"/>
			</scheduling-strategy>
		</salesforce:new-object-listener>
		<logger level="INFO" doc:name="Salesforce to Blackboard Create Term Flow Started" doc:id="d5ab758d-2a7c-4c33-99ac-5a980a1a8f70" message="Salesforce to Blackboard Create Term Flow Started"/>
		<logger level="INFO" doc:name="SF Request Logger" doc:id="9714a63e-97ee-4886-9e65-4d12e188cacd" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="createTerms Request" doc:id="0c0a5e9d-b8c9-495f-b7c4-441b115048c6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    externalId: payload.External_ID__c as String default "",
    dataSourceId: payload.Data_Source_ID__c as String default "",
    name: payload.Name default "",
    description: payload.Description__c default "",
    availability: {
        available: payload.Availability__c default "Yes",
        duration: {
            'type': payload.Duration_Type__c default "Continuous",
            start: payload.Start_Date__c as String default "",
            end: payload.End_Date__c as String default "",
            daysOfUse: payload.Days_Of_Use__c as Number default 0
        }
    }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="accesstoken_Flow" doc:id="95f35367-4032-46a0-9382-11c92a6e1c1c" name="accesstoken_Flow"/>
		<blackboard:post-v1-terms doc:name="Terms - Create Term" doc:id="aaba6c5e-53de-4b2d-8afd-0ea50122b348" config-ref="Blackboard_Config" correlationIdHeader="#[correlationId]" target="createTermsResponse"/>
		<logger level="INFO" doc:name="createTerms Response Payload Logger" doc:id="25dbe2ce-4381-4c24-82ac-e0ec7f41ccbc" message="#[vars.createTermsResponse]"/>
		<ee:transform doc:name="SF Update Request" doc:id="77ed9fc7-dddd-4b34-b022-65d9393e10f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{	
	Name: vars.createTermsResponse.name,
	Term_ID__c: vars.createTermsResponse.id
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SF Update Request Payload Logger" doc:id="3e0d20b4-c372-4553-a087-901fd09d592d" message="#[payload]"/>
		<salesforce:upsert doc:name="Update Termid" doc:id="ad8ad5e9-36b0-468a-a85a-d236be019031" config-ref="Salesforce_Config" objectType="Blackboard_Term__c" externalIdFieldName="Name"/>
		<logger level="INFO" doc:name="Update SF Response Logger" doc:id="804728a3-3d7d-4fcc-9edc-452eea72f1ef" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
		<logger level="INFO" doc:name="Salesforce to Blackboard Create Term Flow Ended" doc:id="f3937f3f-9637-4c09-bf99-635112916db2" message="Salesforce to Blackboard Create Term Flow Ended" />
	</flow>
	<flow name="salesforceToBlackboardUpdateTermsFlow" doc:id="70818c34-3678-4429-a8b8-f013649f9909" >
		<salesforce:modified-object-listener doc:name="On Modified Object" doc:id="fc2d92bc-d1e5-492a-b710-dc32e90bd7f1" config-ref="Salesforce_Config" objectType="Blackboard_Term__c">
			<scheduling-strategy >
				<fixed-frequency frequency="1"/>
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="715336ed-e43d-4bea-b337-57761d5b1be4" message="salesforceToBlackboardUpdateTermsFlowStarted"/>
		<logger level="INFO" doc:name="Logger" doc:id="59ebdb78-dd70-4a83-b996-9d47c9207811" message="#[payload]"/>
		<ee:transform doc:name="blackboardRequest" doc:id="4d1d3289-42f7-45f6-bf44-1623a7ceb587" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "externalId": payload.External_ID__c,
    "dataSourceId": payload.Data_Source_ID__c,
    "name": payload.Name,
    "description": payload.Description__c,
    "availability": {
      "available": payload.Availability_Status__c,
      "duration": {
        "type": payload.Duration_Type__c,
        "start": payload.Start_Date__c,
        "end": payload.End_Date__c,
        "daysOfUse": payload.Days_of_Use__c as Number
      }
    }
  }]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="termId" ><![CDATA[%dw 2.0
output application/json
---
payload.Term_ID__c]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3eaeb1c7-5149-498a-abdc-52e1ef964be2" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="00105560-08fe-4e0a-9d7e-fb92d6fd9bbf" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d1812b39-1b66-44d7-9d7e-c080df66ffaa" message="salesforceToBlackboardUpdateTermsFlowEnded"/>
	</flow>
	<flow name="salesforceToBlackboardDeleteTermsFlow" doc:id="96fe2b4a-3505-4c4f-b4d8-c1eecfc3e51a" >
		<salesforce:deleted-object-listener doc:name="On Deleted Object" doc:id="a0277161-b25b-4d62-b4f7-a7bf06dab514" config-ref="Salesforce_Config" objectType="Blackboard_Term__c">
			<scheduling-strategy >
				<fixed-frequency frequency="1"/>
			</scheduling-strategy>
		</salesforce:deleted-object-listener>
		<logger level="INFO" doc:name="Salesforce to Blackboard Delete Term Flow Started" doc:id="e6741b95-5916-4334-9ded-9a3422d397cf" message="salesforceToBlackboardDeleteTermsFlowStarted"/>
		<logger level="INFO" doc:name="SF Request Logger" doc:id="2e5ac470-7ff8-44d0-9640-a99807be472e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="deleteTerms Request" doc:id="0d0a7428-e9bb-40c9-b5d5-f987f405fd80" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="termId" ><![CDATA[%dw 2.0
output application/json
---
payload.Term_ID__c]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="accesstoken_Flow" doc:id="b8a2dd9a-d74a-4f72-b90a-1a2ca5834560" name="accesstoken_Flow"/>
		<blackboard:delete-v1-terms-term-id doc:name="Terms - Delete Term" doc:id="21832e9f-9cc2-454f-806b-fedfc881cc99" config-ref="Blackboard_Config" correlationIdHeader="#[correlationId]" termIdUriParam="#[vars.termId]"/>
		<logger level="INFO" doc:name="deleteTerms Response Payload Logger" doc:id="8e182f48-87e3-4646-be51-a7ba84e38f3e" message="#[payload]"/>
		<logger level="INFO" doc:name="Salesforce to Blackboard Delete Term Flow Ended" doc:id="8fd42cda-ec97-4eae-863f-c10e53d171b5" message="salesforceToBlackboardDeleteTermsFlowEnded"/>
	</flow>
</mule>
